head {
  height: 100px;
  width: 100px;
}

body {
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

label {
  font-size: 16px;
}

.container {
  text-align: center;
  padding: 10px;
  width: 400px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  text-align: left;
  margin-top: 30px;
  align-items: center;
}

table, table td, table th {
  border: 1px solid black;
  padding: 8px;
  align-items: center;
} 

#addOrder {
  background-color: palevioletred;
  color: white;
  padding: 10px;
  border-radius: 10px;
  width: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

#addOrder:hover {
  background-color: pink;
  color: black 
}